<ion-header>
  <ion-navbar color="danger" transparent no-border>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div style="height:100%" (swipeleft)="swipeLeft($event)" (swiperight)="swipeRight($event)" >

  <div class="header-box"></div>

  <img class="logo" src="./assets/imgs/logo_navbar_2.png"/>

  <div class="header-box-title">
    <p class="header-title">
      <span class="custom-tab custom-tab-left"></span>
      <span class="custom-tab custom-tab-active">Informações</span>
      <span class="custom-tab custom-tab-right" (click)="next()">Plano Alimentar</span>
    </p>
  </div>

    <div padding>

      <h5>Suas Consultas</h5>

      <ion-list no-lines>
        <ion-item *ngFor ="let consulta of itens">
          <ion-avatar item-start>
              {{consulta.horario}}
          </ion-avatar>
          <h2>Agendada para: {{consulta.data}}</h2>
          Observações:{{consulta.notas}}
          <p *ngIf="consulta.status == 'Pendente'" style="color: #f8ac59;">Situação: {{consulta.status}} </p>
          <p *ngIf="consulta.status == 'Finalizada'" style="color: #1ab394;">Situação: {{consulta.status}} </p>
          <p *ngIf="consulta.status == 'Cancelada'" style="color: #ed5565;">Situação: {{consulta.status}} </p>
          <p *ngIf="consulta.status == 'Em Atendimento'" style="color: #23c6c8;">Situação: {{consulta.status}} </p>
        </ion-item>
      </ion-list>

    </div>

  </div>

</ion-content>
