page-home {

  ion-header {
    .toolbar {
      position: fixed;

      .toolbar-background {
        background: transparent;
      }
      .toolbar-title {
        color: black;
      }
    }
  }

}
