// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item-divider {
  background-color: #ecf0f1;
  font-size: 18px;
  color: black;
}

.container {
  background-color:#fff;
  color:white;
}

.sidemenu-header {
  text-align:center;
}

.box-perfil {
  width:100%;
  background-color:#2f4050;
  padding:2em 5em;
}

.button-list {
  background-color:#fff;
  border-bottom-color:#2f4050;
}

.logo {
  width:100%;
}

.avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width:120px;
  height: 120px;
  background-color: white;
  border: 3px solid white;
}

.box-avatar {
  width:100%;
  background-color:#AD1E24;
  padding:1em 2em;
  text-align:center;
}

.avatar-title {
  color: white;
  font-size: 20px;
  margin-top: 15px;
}

.header-box {
  background-color:#AD1E24;
  height:50px;
  margin-bottom:0;
}

.header-box-title {
    background-color:#AD1E24;
    height:60px;
    text-align:center;
    margin-top:-10px;
    padding-top:15px;
}

.header-title {
    margin-top:0;
    color:white;
    font-size: 16px;
    display:inline;
    white-space:nowrap;
    padding:10px 20px 8px 20px;
    width: 100%;
}

.custom-tab {
  padding:0 0 5px 0;
  width: 30%;
  color:#F3F5F7;
  font-size: 14px;
}

.custom-tab-active {
  border-bottom:2px solid white;
  width: 40%;
  color: white;
  font-size: 16px;
}

.custom-tab-right {
  float: right;
}

.custom-tab-left {
  float: left;
}

ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    ion-segment-button.segment-button {
        display: inline-block;
        min-width: 100px;
        width: auto;
    }

}

.swipe-area {
  height: 100%;
}


.button-camera {
  margin-left: -50px;
  margin-top: -25px;
  border: none;
}

.row-profile {

    box-sizing: border-box;
    background-color:#AD1E24;
}

.col-md-6 {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    text-align:center;
    padding:1em 0.9em;
    color: white;
    font-family: sans-serif;
}

.border-top {
  border-top: 1px inset white;
}

.fullpage {
  height:100%;
}

.margin100 {
  margin-bottom: 50px
}
